modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40555
externalPort = 3000

[[ports]]
localPort = 45071
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
expertMode = true

[userenv]

[userenv.shared]
MAKE_WEBHOOK_API_KEY = "8e281fcd1dc55135e6044df0c683cb3a991ce6f7ed155a9e835b265e494aaf0b"
VITE_MAKE_WEBHOOK_URL = "https://hook.eu1.make.com/zq2ec43xc1te1qqj5ar5ne844yg9lg2b"
